* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    width: 70%;
    background-color: darkslategray;
}

.debug div, .debug #app-header {
    height: 50px;
    border: 1px solid red;
}

#app-header {
    width: 100%;
    background: url(./img/jumbo.png);
    background-size: cover;
    padding: 1rem;
    color: white;
}

#navbar {
    width: 80%;
    height: 50px;
    margin: 30px auto;
    display: flex;
}

#links {
    flex-grow: 2;
}

#links ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#bot-header {
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

#title {
    font-size: 2rem;
}

#introduction {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#download {
    background-color: white;
    border-radius: 2rem;
    width: 125px;
    height: 40px;
}

#browser {
    background-color: black;
    color: white;
    border: none;
    border-radius: 2rem;
    width: 200px;
    height: 40px;
}




.debug .d-flex {
    width: 70%;
    background-color: gray;
    height: 300px;
    margin: 20px auto;
}

.d-flex {
    display: flex;
}

.debug .bg-white {
    background-color: white;
}

.debug .bg-gray {
    background-color: gray;
    padding: 0.5rem;
}

.debug .left {
    height: 100%;
    width: 60%;
    background-color: darkcyan;
}

.debug .right {
    background-color: rosybrown;
    height: 100%;
    width: 40%;
}


.debug #image4 {
    background-color:darkgreen;
    padding: 1rem;
    width: 100%;
}

/* footer */

.debug #app-footer {
    width: 100%;
    background-color: darkslategray;
    padding: 0.5rem;
}

.debug #mainfooter {
    background-color:firebrick;
    flex-grow: 3;
    border: 3px solid white;
}

.debug #prodotto {
    background-color:aquamarine;
    flex-grow: 1;
    border: 3px solid white;
}

.debug #compagnia {
    background-color:aquamarine;
    flex-grow: 1;
    border: 3px solid white;
}

.debug #risorse {
    background-color:aquamarine;
    flex-grow: 1;
    border: 3px solid white;
}

.debug #norme {
    background-color:aquamarine;
    flex-grow: 1;
    border: 3px solid white;
}

#bot-footer {
    border-top: 3px solid yellow;
    justify-content: space-between;
    height: auto;
}

/* /footer */
