* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    background-color: darkslategray;
}

.debug #app-header {
    width: 100%;
    background-color: blueviolet;
    padding: 1rem;
}

.debug #navbar {
    width: 70%;
    height: 50px;
    background-color: yellow;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#links ul {
    list-style: none;
    display: flex;
}

.debug #bot-header {
    width: 60%;
    background-color: pink;
    height: 200px;
    margin: 10px auto;
}

.debug .d-flex {
    width: 70%;
    background-color: gray;
    height: 300px;
    margin: 20px auto;
}

.d-flex {
    display: flex;
}

.debug .bg-white {
    background-color: white;
}

.debug .bg-gray {
    background-color: gray;
    padding: 0.5rem;
}

.debug .left {
    height: 100%;
    width: 60%;
    background-color: darkcyan;
}

.debug .right {
    background-color: rosybrown;
    height: 100%;
    width: 40%;
}


.debug #image4 {
    background-color:darkgreen;
    padding: 1rem;
    width: 100%;
}

/* footer */

.debug #app-footer {
    width: 100%;
    background-color: darkslategray;
    padding: 0.5rem;
}

.debug #mainfooter {
    background-color:firebrick;
    flex-grow: 3;
    border: 3px solid white;
}

.debug #prodotto {
    background-color:aquamarine;
    flex-grow: 1;
    border: 3px solid white;
}

.debug #compagnia {
    background-color:aquamarine;
    flex-grow: 1;
    border: 3px solid white;
}

.debug #risorse {
    background-color:aquamarine;
    flex-grow: 1;
    border: 3px solid white;
}

.debug #norme {
    background-color:aquamarine;
    flex-grow: 1;
    border: 3px solid white;
}

#bot-footer {
    border-top: 3px solid yellow;
    justify-content: space-between;
    height: auto;
}

/* /footer */
