* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    width: 70%;
    margin: auto;
}

/* .debug div, .debug #app-header {
    height: 50px;
    border: 1px solid red;
} */

/* #region header*/

#app-header {
    width: 100%;
    background: url(./img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1rem;
    color: white;
}

#navbar {
    width: 80%;
    height: 50px;
    margin: 30px auto;
    display: flex;
}

#links {
    flex-grow: 1;
}

#links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.btn {
    display: inline-block;
    border-radius: 1rem;

}

.btn-small {
    padding: 0.25rem 0.75rem;
    font-size: 0.9rem;
}

.btn-light {
    background-color: white;
    color: black;
}

#bot-header {
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

#title {
    font-size: 2rem;
}

#introduction {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#download {
    display: inline-block;
    background-color: white;
    border-radius: 1rem;
    width: 125px;
    height: 40px;
}

#browser {
    background-color: black;
    color: white;
    border: none;
    border-radius: 2rem;
    width: 200px;
    height: 40px;
}

/* #endregion header*/

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-white {
    background-color: white;
}

.bg-gray {
    background-color: rgb(170, 170, 170);
    padding: 0.5rem;
}

section .section_image {
    width: 100%;
}

section .section_text {
    width: 100%;
    color: black;
}

section .section_text > h2 {
    font-size: 2rem;
    margin: 1rem 0;
}


.debug #image4 {
    background-color:darkgreen;
    padding: 1rem;
    width: 100%;
}

/* footer */

.debug #app-footer {
    width: 100%;
    background-color: darkslategray;
    padding: 0.5rem;
}

.debug #mainfooter {
    background-color:firebrick;
    flex-grow: 3;
    border: 3px solid white;
}

.debug #prodotto {
    background-color:aquamarine;
    flex-grow: 1;
    border: 3px solid white;
}

.debug #compagnia {
    background-color:aquamarine;
    flex-grow: 1;
    border: 3px solid white;
}

.debug #risorse {
    background-color:aquamarine;
    flex-grow: 1;
    border: 3px solid white;
}

.debug #norme {
    background-color:aquamarine;
    flex-grow: 1;
    border: 3px solid white;
}

#bot-footer {
    border-top: 3px solid yellow;
    justify-content: space-between;
    height: auto;
}

/* /footer */
